* {
    margin: 0;
    padding: 0;
}

.clearfix:after {
    clear: both;
    content: "";
    display: block;
}
.container {
    max-width: 1000px;
    margin: 0 auto;
    outline: 0px solid seagreen;
}

/* ============ HEADER/ШАПКА САЙТА ============ */
.header {
    padding-top: 120px;
    padding-bottom: 180px;
    background-image: url(../img/header_bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
    .header .container {
        position: relative;
    }
        .header_logo {
            width: 200px;
            border-radius: 100%;
            margin: 0 auto;
            display: block;
            margin-bottom: 120px;    
        }
        .header_h1 {
            text-align: center;
            margin-bottom: 45px;
            font: 18px 'Roboto', sans-serif;
            color: #66BB6A;
        }
        .header_text {
            text-align: center;
            font: 42px 'Roboto', sans-serif;
            margin-bottom: 120px;
            color: #fff;
        }
        .header_btn a {
            text-align: center;
            width: 200px;
            text-decoration: none;
            margin: 0 auto;
            display: block;
            font: 18px 'Roboto', sans-serif;
            color: #66BB6A;
            border: 1px solid #66BB6A;
            padding: 20px 15px;
            background-color: rgba(102,187,106, 0.1);
            cursor: pointer;
            transition: 0.5s;
        }
        .header_btn a:hover {
            background-color: #fff;
        }
    
    
    
/* ================== FOOTER/ПОДВАЛ САЙТА ================== */
.footer {
    background-color: #182138;
    padding-top: 90px;
    padding-bottom: 90px;
}
    .footer_icons {
        margin-bottom: 45px;
        text-align: center;
    }
        .footer_icons span {
            background-color: #CDE8CC;
            border-radius: 100%;
            font-size: 36px;
            color: #182138;
            padding: 12px 18px;
            margin-right: 15px;
            cursor: pointer;
            transition: 0.5s;
        }
        .footer_icons span:hover {
            background-color: #fff;
        }
        .fa-facebook {
            padding: 12px 22px !important;
        }
        .fa-vk {
            padding: 12px 16px !important;
        }
    .footer_text {
        color: #828693;
        text-align: center;
    }
/* MENU POSITIONED FIXED AND BUTTON/ МЕНЮ ПОЗИЦИОНИРОВАННОЕ FIXED И КНОПКА */
.menu_button {              
    position: fixed;
    top: 90px;
    right: 500px;
    cursor: pointer;
    z-index: 10;
    transition: 0.5s all;
    z-index: 101;
    
}
    .menu_button span:before {
        color: #CDE8CC;
    }
    .menu_button span:hover:before {
        color: #fff;
    }
.menu_button_on {
    right: 350px;
}
    .menu_button span {
        font-size: 36px;
        color: #fff;
    }
.menu {
    position: fixed;
    top: 75px;
    right: -360px;
    transition: 1s all;
    z-index: 100;
}
.menu_on {
    right: 330px;
}
    .menu_ul {
        padding: 50px 30px;
        box-sizing: border-box;
        background-color: #8C8C8C;
        display: inline-block;
        width: 260px;
    }
        .menu_ul li {
            list-style-type: none;
            margin-bottom: 25px;
            text-align: left;
        }
        .menu_ul li:last-of-type {
            margin-bottom: 0;
        }
            .menu_ul li a {
                font: 24px 'Roboto', sans-serif;
                text-decoration: none;
                color: #C6DEC5;
                transition: 0.5s;
            }
            .menu_ul li a:hover {
                color: #fff;
            }
/* SECTION ABOUT US, WHO WE ARE/ О НАС, КТО МЫ ТАКИЕ */
.about {
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: #F2F2F2;
    font-size: 0;
}
    .about_h2 {
        font: 36px 'Roboto', sans-serif;
        text-align: center;
        margin-bottom: 60px;
    }
    .about_line {
        display: block;
        width: 10px;
        height: 10px;
        background-color: #66BB6A;
        border-radius: 100%;
        margin: 0 auto;
        position: relative;
        margin-bottom: 60px;
    }
    .about_line:before {
        content: "";
        position: absolute;
        background-color: #66BB6A;
        width: 400px;
        height: 1px;
        right: 20px;
        top: 5px;
        
    }
    .about_line:after {
        content: "";
        position: absolute;
        background-color: #66BB6A;
        width: 400px;
        height: 1px;
        right: -410px;
        top: 5px;
    }
    
    .about_block {
        display: inline-block;
        width: 300px;
        margin-right: 50px;
        vertical-align: top;
    }
    .about_block:last-of-type {
        margin-right: 0;
    }
        .about_block h3 {
            font: 24px 'Roboto', sans-serif;
            text-align: left;
            text-transform: uppercase;
        }
            .about_block span {
                color: #66BB6A;
            }
        .about_block p {
            margin-top: 45px;
            font: 16px 'Roboto', sans-serif;
        }
        .about_block img {
            margin-top: 30px;
        }
/* SECTION PROCESS/ ПРОЦЕС */
.process {
    padding-top: 120px;
    padding-bottom: 120px;
    background-image: url(../img/process_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-size: 0;
}
    .process_h2 {
        font: 36px 'Roboto', sans-serif;
        color: #fff;
        text-align: center;
        margin-bottom: 60px;
        
    }
    .process_block {
        display: inline-block;
        width: 150px;
        height: 150px;
        margin-right: 125px;
        box-sizing: border-box;
        border-radius: 100%;
        background-color: #C0C7C1;
        border: 1px solid #66BB6A;
        color: #3A4254;
        position: relative;
        transition: 0.5s;
    }
    .process_block:hover {
        background-color: transparent;
        color: #66BB6A;
    }
        .process_block p {
            line-height: 10px;
            text-align: center;
            font: 16px 'Roboto', sans-serif;
            text-transform: uppercase;
            line-height: 150px;
        }
    .process_block:last-of-type {
        margin-right: 0;
    }
        .process_block:after {
            content: "";
            width: 80px;
            height: 1px;
            position: absolute;
            background-color: #66BB6A; 
            right: 175px;
            top: 75px;   
        }
        .process_block:first-of-type:after {
            background-color: transparent;
        }
        .process_block:first-of-type:before {
            content: "";
            height: 80px;
            width: 1px;
            position: absolute;
            background-color: #66BB6A;
            right: 75px;
            top: 175px;
        }
        .process_block:last-of-type:before {
            content: "";
            height: 80px;
            width: 1px;
            position: absolute;
            background-color: #66BB6A;
            right: 75px;
            top: 175px;
        }
        .process_lineblock {
            text-align: center;
            margin-top: 105px;
            position: relative;
        }
            .process_line1 {
                display: inline-block;
                width: 400px;
                border-top: 1px solid #66BB6A;
                background-color: #66BB6A;
                margin-left: 0px;
                position: absolute;
                left: 74px;
            }
            .process_line2 {
                display: inline-block;
                width: 400px;
                border-top: 1px solid #66BB6A;
                background-color: #66BB6A;
                margin-right: 0;
                position: absolute;
                right: 100px;
            }
            .process_triangle {
                display: inline-block;
                width: 20px;
                height: 20px;
                background-color: transparent;
                border: 1px solid #66BB6A;
                box-sizing: border-box;
                position: absolute;
                top: -10px;
                right: 503px;
                transform: rotate(45deg);
                border-left: none;
                border-top: none;
                
            }
    .process_foottext {
        font: 16px 'Roboto', sans-serif;
        margin-top: 180px;
        text-align: center;
        color: #fff;
        line-height: 30px;
    }
    
/* MAIN SERVICES/ГЛАВНЫЙ СЕРВИС */
.main {
    background-image: url(../img/main_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-size: 0;
}
    .main_wrap {
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: rgba(0,0,0,0.7);
    }
        .main_h2 {
            font: 32px 'Roboto', sans-serif;
            margin-bottom: 90px;
            text-align: center;
            color: #fff;
        }
        .main_block {
            display: inline-block;
            width: 450px;
            margin-right: 0px;
            position: relative;
            margin-bottom: 60px;
        }
        .main_block:nth-of-type(2n+1){
            margin-right: 100px;
        }
            .main_block h3 {
                font: 24px 'Roboto', sans-serif;
                text-transform: uppercase;
                color: #fff;
                margin-bottom: 30px;
            }
            .main_block p {
                font: 16px 'Roboto', sans-serif;
                color: #ccc;
            }
            .main_block span {
                font-size: 50px;
                color: #fff;
                position: absolute;
                top: -25px;
                left: -70px;
            }

    
/* CONTACT FORM/КОНТАКТНАЯ ФОРМА */
.contact {
    padding-top: 120px;
    background-color: #EDEDED;
}
    .contact_h2 {
        font: 32px 'Roboto', sans-serif;
        text-align: center;
        margin-bottom: 60px;
    }
    .contact_form {
        width: 500px;
        margin: 0 auto;
    }
        .contact_form label {
            display: block;
            margin-bottom: 20px;
        }
            .contact_form label input {
                width: 100%;
                padding: 8px;
                box-sizing: border-box;
            }
            .contact_form label input:focus {
                outline: none;
            }
            .contact form label textarea {
                resize: none;
                width: 100%;
                height: 200px;
                padding: 8px;
                box-sizing: border-box;
            }
             .contact form label textarea:focus {
                outline: none;
                }
            .contact_form label button {
                display: block;
                width: 250px;
                margin: 0 auto;
                text-transform: uppercase;
                font-weight: 700;
                padding: 22px 5px;
                color: #66BB6A;
                border: 1px solid #66BB6A;
                box-sizing: border-box;
                background-color: rgba(0,0,0,0.1);
                cursor: pointer;
                transition: 0.5s;
            }
            .contact_form label button:hover {
                background-color: #fff;
            }
    .contact_map {
        position: relative;
        height: 450px;
        margin-top: 120px;
    }
        .contact_map iframe {
            width: 100%;
            height: 450px;
        }
        .fa-envelope {
            position: absolute; 
            top: 50px;
            right: 25px;
            font-size: 25px;
            padding: 20px;
            background-color: #89CB8C;
            border-radius: 100%; 
            box-sizing: border-box;
            color: #fff;
            cursor: pointer;
            z-index: 50;

        }
        .fa-envelope:hover {
            background-color: #66BB6A;
        }
        .fa-times {
            position: absolute; 
            top: 50px;
            right: 25px;
            font-size: 40px;
            padding: 20px;
            background-color: #89CB8C;
            border-radius: 100%; 
            box-sizing: border-box;
            color: #fff;
            cursor: pointer;
            z-index: 50;
        }
        .fa-times:hover {
            background-color: #182138;
        }
        .contact_map_paranja {
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            margin: 0 auto;
            background-color: rgba(0,0,0,0.5);
            text-align: center;
            display: block;
        }
            .contact_map_paranja_block {
                vertical-align: top;
                margin-top: 150px;
                display: inline-block;
                margin-right: 200px;
            }
            .contact_map_paranja_block:last-of-type {
                margin-right: 0;
            }
                .contact_map_paranja_block span {
                    font-size: 100px;
                    margin-bottom: 50px;
                    color: #CDE8CC;
                }
                .contact_map_paranja_block p {
                    color: #fff;
                }

/* OUR PERFECT PROJECTS/ НАШИ ЛУЧШИЕ РАБОТЫ */
.projects {
    padding-top: 120px;
    padding-bottom: 120px;
    font-size: 0;
}
    .projects_h2 {
        margin-bottom: 90px;
        font: 36px 'Roboto', sans-serif;
        text-align: center;
    }
    .projects_block {
        display: inline-block;
        outline: 1px solid #ccc;
        width: 300px;
        height: 225px;
        margin-right: 50px;
        margin-top: 60px;
        position: relative;
        cursor: pointer;
    }
    .projects_block:nth-of-type(3n) {
        margin-right: 0;
    }
        .projects_blockpar {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            margin: 0 auto;
            background-color: rgba(0,0,0,0.0);
            z-index: 10;
            font-size: 0;
            color: #fff;
            padding: 75px 25px;
            box-sizing: border-box;
        }
        .projects_block img {
            width: 100%;
        }
        .projects_blockpar:hover {
            background-color: rgba(0,0,0,0.6);
            font: 12px 'Roboto', sans-serif;
            font-weight: 700;
            
        }
    .projects_btn a {
            text-align: center;
            width: 200px;
            margin: 60px auto;
            display: block;
            font: 18px 'Roboto', sans-serif;
            color: #66BB6A;
            border: 1px solid #66BB6A;
            padding: 20px 15px;
            background-color: rgba(102,187,106, 0.1);
            text-decoration: none;
            cursor: pointer;
            transition: 0.5s;
        }
        .projects_btn a:hover {
            background-color: #fff;
        }
        
/* POPUP RELATED TO PROJECTS / ВЫСКАКИВАЮЩИЕ ОКНО НАШИ ПРОЕКТЫ */    
.popup {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.9);
    z-index: 1000;
    display: none;
}
    .popup_wrap {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: 800px;
        height: 600px;
        overflow: hidden;
    }
        .popup img {
            width: 100%;
            display: block;
        }
        .popup_close {
        position: absolute;
        width: 30px;
        height: 30px;
        background-color: white;
        top: 0;
        right: 0;
        text-align: center;
        background-color: #89CB8C;
        cursor: pointer;
        font-weight: bold;
        font-size: 20px;
        line-height: 25px;
        transition: 0.5s;
        }
        .popup_close:hover {
            background-color: #182138;
            color: #fff;
        }
        
    
/* ARROW UP */
#arrow_up {
    font-size: 25px;
    border: 2px solid #89CB8C;
    color: #89CB8C;
    padding: 15px;
    border-radius: 100%;
    position: fixed;
    bottom: 50px;
    right: 50px;
    cursor: pointer;
    transition: 0.5s;
    display: none;
    z-index: 1000;
}

#arrow_up:hover {
        background-color: #fff;
        border: 2px solid transparent;
}

/* OUR GALLETY/ НАША ГАЛЛЕРЕЯ */
.gallery {
    font-size: 0;
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: #E4E4E4;
}
    .gallery_h2 {
        font: 48px 'Roboto', sans-serif;
        text-align: left;
        text-transform: uppercase;
    }
        .gallery_h2 span {
            color: #89CB8C;
        }
    .gallery_p {
        font: 24px 'Roboto', sans-serif;
        text-align: left;
    }
/*  BACK TO MAIN PAGE / НАЗАД НА ГЛАВНУЮ  */
.exit a {
    position: fixed;
    top: 50px;
    right: 50px;
    text-align: center;
    width: 200px;
    text-decoration: none;
    margin: 0 auto;
    display: block;
    font: 18px 'Roboto', sans-serif;
    color: #66BB6A;
    border: 1px solid #66BB6A;
    padding: 20px 15px;
    background-color: rgba(102,187,106, 0.1);
    cursor: pointer;
    transition: 0.5s;
    z-index: 1000;
}
.exit a:hover {
    background-color: #fff;
}
/* NAVIGATION GALLERU */
.nav_gallery {
    text-align: center;
}
    .nav_gallery span {
        
    }
        .nav_gallery span a {
            text-decoration: none;
            display: inline-block;
            font: 18px 'Roboto', sans-serif;
            color: #66BB6A;
            border: 1px solid #66BB6A;
            padding: 20px 60px;
            background-color: rgba(102,187,106, 0.1);
            cursor: pointer;
            transition: 0.5s;
            margin: 30px 5px;
        }
        .nav_gallery span a:hover {
            background-color: #fff;
        }
/* MEDIA 1050 PX */
@media (max-width: 1050px) {
    .projects_block {
        display: block;
        width: 500px;
        height: 450px;
        margin: 50px auto;
    }
    .projects_block:nth-of-type(3n) {
        margin: 50px auto;
    }
    .projects_block img {
            width: 100%;
            height: 100%;
        }
        
}

/* MEDIA 1000 PX */
@media (max-width: 1000px){
    .about {
        text-align: center;
    }
   .about_block {
        display: inline-block;
        width: 300px;
        padding-left: 15px;
        padding-right: 15px;
        margin-right: 0;
    }
    .about_block:last-of-type {
        display: block;
        width: 600px;
        margin: 30px auto;
        text-align: left;
        
    } 
    .about_block:last-of-type img {
        width: 600px;
        }

.process {
    text-align: center;
}
    .process_block {
            margin-right: 30px;
        }
        .process_block:after {
                display: none;
            }
            .process_block:first-of-type:after {
                display: none;
            }
            .process_block:first-of-type:before {
                display: none;
            }
            .process_block:last-of-type:before {
                display: none;
            }
            .process_lineblock {
                display: none;
            }
                .process_line1 {
                    display: none;
                }
                .process_line2 {
                    display: none;
                }
                .process_triangle {
                    display: none;
                    
                }

.main_block {
        display: block;
        width: 450px;
        margin: 0 auto;
        position: relative;
        margin-bottom: 60px;
    }
    .main_block:nth-of-type(2n+1){
        margin-right: auto;
    }
/* POPUP RELATED TO PROJECTS / ВЫСКАКИВАЮЩИЕ ОКНО НАШИ ПРОЕКТЫ */    
    .popup_wrap {
        width: 500px;
        height: 550px;
    }
}

/* MEDIA 900 PX */
@media (max-width: 900px){
    .contact_map_paranja_block {
        margin-top: 150px;
        display: inline-block;
        margin-right: 75px;
    }
    .contact_map_paranja_block span {
            font-size: 50px;
        }
        .nav_gallery span a {
            font: 14px 'Roboto', sans-serif;
            padding: 10px 30px;
            margin: 20px 3px;
        }
        .exit a {
            width: 100px;
            font: 14px 'Roboto', sans-serif;
            padding: 10px 8px;
}
    .gallery_h2 {
        font: 36px 'Roboto', sans-serif;
    }
}
/* MEDIA 850 PX */
@media (max-width: 850px){
    .about_line {
        display: none;
    }
}

/* MEDIA 730 PX */
@media (max-width: 730px) {
   .about_block {
        display: block;
        width: 300px;
        padding-left: 15px;
        padding-right: 15px;
        margin: 30px auto;
        box-sizing: border-box;
    }
    .about_block:last-of-type {
        display: block;
        width: 300px;
        margin: 30px auto;
        
    } 
    .about_line {
        display: none;
    }
    .about_block img {
       width: 275px; 
    }
    .about_block:last-of-type img {
        width: 275px;
        }
        .process {
    text-align: center;
}
    .process_block {
            display: block;
            margin: 25px auto;
        }
    .process_block:last-of-type{
        margin: 25px auto;
    }
    .projects_block {
            display: block;
            margin: 25px auto;
        }
        .projects_block:nth-of-type(2n+1) {
            margin: auto;
        }
        .projects_block:nth-of-type(3n) {
            margin: 25px auto;
        }
        .projects_block:last-of-type{
            margin: 25px auto;
        }
    .contact_map_paranja_block {
        display: block;
        margin: 10px auto;
    }
    .contact_map_paranja_block span {
            font-size: 50px;
        }
    .main_block {
        padding-right: 50px;
        padding-left: 50px;
        box-sizing: border-box;
    }
    .main_block span {
        top: -10px;
        left: -25px;
    }
}
/* MEDIA 530 PX */
@media (max-width: 530px) {
    .contact_h2 {
        font: 24px 'Roboto', sans-serif;
        margin-bottom: 30px;
    }
    .contact_form {
        width: 300px;
    }
        .contact form label textarea {
            height: 100px;
        }
        .contact_form label button {
            width: 150px;
            padding: 14px 3px;
        }
.main_block {
    width: 300px;
    padding-right: 15px;
    padding-left: 15px;
}
    .main_block span {
        display: none;
    }
.projects_btn a {
    width: 150px;
    padding: 14px 3px;
}
        .header_h1 {
            font: 14px 'Roboto', sans-serif;
        }
        .header_text {
            text-align: center;
            font: 30px 'Roboto', sans-serif;
        }
        .gallery_h2 {
            font: 24px 'Roboto', sans-serif;
    }
.projects_block {
        display: block;
        width: 300px;
        height: 250px;
        margin: 25px auto;
    }
    .projects_block:nth-of-type(3n) {
        margin: 25px auto;
    }
/* POPUP RELATED TO PROJECTS / ВЫСКАКИВАЮЩИЕ ОКНО НАШИ ПРОЕКТЫ */    
    .popup_wrap {
        width: 400px;
        height: 250px;
    }
    

}    
    

/* MENU POSITIONED FIXED AND BUTTON/ МЕНЮ ПОЗИЦИОНИРОВАННОЕ FIXED И КНОПКА */
/* MEDIA 1350 PX */
@media (max-width: 1350px) {
.menu_button {              
    right: 300px;
}
.menu_on {
    right: 280px;
}
 }   
/* MEDIA 1350 PX */
@media (max-width: 900px) {
   .menu_button {              
    right: 25px;
    top: 35px;
}
.menu {
    right: -300px;
    top: 25px;
    transition: 0.5s all;
}
.menu_on {
    top: 25px;
    right: 10px;
} 
} 
/* MEDIA 450 PX for POPUP */
@media (max-width: 440px) {
    .projects_blockpar {
        display: none;
    }
}

    
    
    