* {
    margin: 0;
    padding: 0;
}
.clearfix:after {
    clear: both;
    content: "";
    display: block;
}
.container {
    max-width: 1000px;
    margin: 0 auto;
    outline: 0px solid seagreen;
}
/* ===== HEADER ===== */
.header {
    
}
    .header_logo {
        
    }
        .header_logo img {
            display: block;
            margin: 0 auto;
        }
    .header_nav {
        margin: 0 auto;
        text-align: center;
        background-image: url(../img/header_pattern.png);
        border-bottom: 5px solid #fff;
        
    }
        .header_nav li {
            display: inline-block;
            padding: 20px 0;
            position: relative;
        }
        .header_nav li:before {
            content: "";
            background-image: url(../img/header_menu.png);
            background-size: cover;
            background-repeat: no-repeat;
            position: absolute;
            width: 24px;
            height: 24px;
            top: 20px;
            right: 45px;
        }
        .header_nav li:last-of-type:before {
            display: none;
        }
            .header_nav li a {
                text-decoration: none;
                color: #000;
                margin-right: 120px;
                text-transform: uppercase;
                font: 20px 'PT Serif', sans-serif;
                transition: 0.5s
            }
            .header_nav li a:hover {
                color: #CFBCA7;
            }
            .header_nav li a:focus {
                color: #CFBCA7;
            }
            .header_nav li:last-of-type a {
                margin-right: 0;
            }
/* REDUCED NAVIGATION */
.nav_reduce {
    background-image: url(../img/header_pattern.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 5px solid #fff;
    display: none;
}
    .nav_reduce_select {
        display: block;
        width: 600px;
        background-color: #403E33;
        color: #CFBCA7;
        padding: 5px;
        cursor: pointer;
        margin: 0 auto;
    }
        .nav_reduce_select option {
            padding: 25px;
        }
/* ====== MAIN PICTURE * ======== */
.main_picture {
    background-image: url(../img/main_picture.jpg);
    padding-top: 300px;
    padding-bottom: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* ======== SLIDER SECTION ======= */
.slider {
    padding-top: 120px;
    padding-bottom: 120px;
    background-image: url(../img/header_pattern.png);
    position: relative;
    height: 700px;
}
    .slider_wrap {
        position: absolute;
        top: -125px;
        right: 0;
        left: 0;
        bottom: 0;
        margin: 0 auto;
        background-image: url(../img/header_pattern.png);
        background-size: cover;
        background-repeat: no-repeat;
        width: 1000px;
        border-top: 5px solid #fff;
    }
        .slider_h1 {
            text-align: center;
            font: 60px 'PT Serif', sans-serif;
            margin-bottom: 30px;
        }
        .slider_img {
            display: block;
            margin: 30px auto;
            margin-bottom:;
        }
        .slider_slider {
            height: 550px;
        }
            .slider_image {
                width: 700px;
                position: absolute;
                top: 300px;
                bottom: 0;
                right: 0;
                left: 0;
                margin: 0 auto;
                opacity: 0;
                transition: 2s;
            }
            .slider_image_on {
                opacity: 1;
            }
            
        .slider_p {
            text-align: center;
            font: 14px 'Times New Roman', sans-serif;
            margin-bottom: 60px;
            color: #B4B1A0;
            margin-top: 30px;
        }
        .slider_h3 {
            display: block;
            text-align: center;
            font: 20px 'PT Serif', sans-serif;
            font-weight: 700;
            text-transform: uppercase;
            margin-top: 30px;
            
        }
        .slider_nav {
            font-size: 0;
            text-align: center;
        }
            .slider_nav span {
               display: inline-block;
               width: 10px;
               height: 10px;
               background-color: #000;
               border-radius: 5px;
               margin-right: 7px;
               transition: 0.5s;
               cursor: pointer;
            }
            .slider_nav span:hover, .slider_nav .btn_active {
               background-color: #B4B1A0;
            }
            .slider_nav span:last-of-type {
                margin-right: 0;
            }
        
/* INFO */
.info {
    background-image: url(../img/header_pattern.png);
    font-size: 0;
    padding-bottom: 120px;
}
    .info_block {
       position: relative; 
       display: inline-block; 
       width: 300px;
       margin-right: 50px;
       height: 200px;
    }
    .info_block_wrap {
        position: absolute;
        top: 240px;
        bottom: 0;
        right: 0;
        left: 0;
        margin: 0 auto;
        transition: 1s All;
    }
    .flavors_miniwrapper {
        display: inline-block;
        margin-right: 50px;
    }
    .flavors_miniwrapper:last-of-type {
        margin-right: 0;
    }
    .info_block_anim {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        margin: 0 auto;
    }
    .info_block:last-of-type {
        margin-right: 0;
    }
    
        .info_h2 {
            font: 40px 'PT Serif', sans-serif;
            margin-bottom: 30px;
            font-weight: 700;
        }
        .info_p1 {
            font: 14px 'PT Serif', sans-serif;
            margin-bottom: 20px;
        }
        .info_p2 {
            font: 14px 'Times New Roman', sans-serif;
            margin-bottom: 30px;
            color: #B4B1A0;
        }
/* FLAVORS ================= */
.flavors {
    background-image: url(../img/bakery_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
    
    .flavors_wrap {
        background-color: rgba(0,0,0,0.5);
        padding-top: 60px;
        padding-bottom: 60px;
    }
        .flavors_main_wrap {
            position: relative;
            height: 200px;
        }
            .flavors_animwrap {
                position: absolute;
                top: 300px;
                bottom: 0;
                right: 0;
                left: 0;
                margin: 0 auto;
                transition: 1s All;
            }
            .flavors_animwrap_anim {
                position: absolute;
                top: -30px;
                bottom: 0;
                right: 0;
                left: 0;
                margin: 0 auto;
            }
                .flavors_logo {
                    display: block;
                    margin: 0 auto;
                }
                .flavors_h3 {
                    font: 36px 'PT Serif', sans-serif;
                    text-align: center;
                    color: #fff;
                    margin-top: 45px;
                }
                .flavors_number {
                    font: 48px 'PT Serif', sans-serif;
                    text-align: center;
                    color: #fff;
                }
                .flavors_p {
                    font: 36px 'PT Serif', sans-serif;
                    text-align: center;
                    color: #fff;
                }
                .flavors_wrapper {
                    font-size: 0;
                    margin-top: 60px;
                    position: relative;
                    height: 150px;
                }
                    .flavors_block {
                        display: inline-block;
                        width: 200px;
                        margin-right: 66px;
                    }
                    .flavors_block_wrap {
                        position: absolute;
                        top: 200px;
                        bottom: 0;
                        right: 0;
                        left: 0;
                        margin: 0 auto;
                        transition: 1.5s;
                    }
                    .flavors_block_wrap_anim {
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        right: 0;
                        left: 0;
                        margin: 0 auto;
                    }
                    .flavors_block:last-of-type {
                        margin-right: 0;
                    }
                        .flavors_data {
                            font: 28px 'PT Serif', sans-serif;
                            color: #fff;
                        }
                        .flavors_desc {
                            font: 14px 'PT Serif', sans-serif;
                            color: #fff;
                        }

/* ABOUT PAGE SECTION ABOUT */
.about {
    padding-top: 60px;
    padding-bottom: 60px;
    background-image: url(../img/header_pattern.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 0;
}
    .about_column {
        display: inline-block;
        width: 300px;
        margin-right: 50px;
        vertical-align: top;
        position: relative;
        height: 800px;
    }
    .about_column_wrap {
        position: absolute;
        top: 500px;
        bottom: 0;
        right: 0;
        left: 0;
        margin: 0 auto;
        transition: 1s;
    }
    .about_column_wrap_anim {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        margin: 0 auto;
    }
    .about_column:last-of-type {
        margin-right: 0;
    }
        .about_h3 {
            font: 36px 'PT Serif', sans-serif;
            font-weight: 700;
            padding-bottom: 20px;
        }
        .about_h4 {
            font: 16px 'PT Serif', sans-serif;
            text-transform: uppercase;
        }
        .about_img {
            width: 300px;
            margin-bottom: 20px;
        }
        .about_text {
            font: 14px 'PT Serif', sans-serif;
            margin: 10px 0;
            color: #B4B1A0;
        }
        .about_number {
            font-size: 60px;
            display: inline-block;
            width: 30px;
            margin-right: 70px;
            vertical-align: top;
            position: relative;
        }
        .about_number:after {
            content: "";
            position: absolute;
            top: 25px;
            right: -55px;
            width: 20px;
            height: 20px;
            background-image: url(../img/flower.png);
            background-repeat: no-repeat;
        }
        .about_info {
            display: inline-block;
            width: 200px;
            vertical-align: top;
        }
        .about_infolink {
            font: 16px 'PT Serif', sans-serif;
            font-weight: 700;
            text-transform: uppercase;
        }
        .about_ul {
            
        }
            .about_ul li {
                
            }
        .about_ul2 {
            
        }
            .about_ul2 li {
                font: 14px 'PT Serif', sans-serif;
                line-height: 30px;
                color: #B4B1A0;
            }
/* OUT TEAM */
.team {
    font-size: 0;
    background-image: url(../img/header_pattern.png);
}
    .team_wrap {
        background-color: rgba(255,255,255,0.5);
        padding-top: 60px;
        padding-bottom: 60px;
    }
        .team_h2 {
            font: 34px 'PT Serif', sans-serif;
            font-weight: 700;
            margin-bottom: 30px;
        }
        .team_block_doublewrap {
            display: inline-block;
            margin-right: 66px;
        }
        .team_block_doublewrap:last-of-type {
            margin-right: 0;
        }
        .team_block {
            display: inline-block;
            vertical-align: top;
            width: 200px;
            margin-right: 66px;
            position: relative;
            height: 400px;
        }
        .team_block_wrap {
            position: absolute;
            top: 400px;
            right: 0;
            left: 0;
            bottom: 0;
            transition: 1s;
        }
        .team_block_wrap_anim {
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
        }
        .team_block:last-of-type {
            margin-right: 0;
        }
            .team_img {
                width: 200px;
                margin-bottom: 30px;
            }
            .team_name {
                font: 16px 'PT Serif', sans-serif;
                text-transform: uppercase;
                color: #B4B1A0;
                margin-bottom: 15px;
            }
            .team_text {
                font: 14px 'PT Serif', sans-serif;
                color: #B4B1A0;
            }
/* OUR ADVANTAGES */
.advan {
    padding-top: 60px;
    padding-bottom: 60px;
    background-image: url(../img/header_pattern.png);
    font-size: 0;
}
    .advan_block {
        display: inline-block;
        width: 300px;
        margin-right: 50px;
        vertical-align: top;
        position: relative;
        height: 600px;
    }
        .advan_block_wrap {
            position: absolute;
            top: 400px;
            bottom: 0;
            right: 0;
            left: 0;
            margin: 0 auto;
            transition: 1s;
        }
        .advan_block_wrap_anim {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            margin: 0 auto;
        }
    .advan_block:last-of-type {
        margin-right: 0;
    }
        .advan_h3 {
           font: 32px 'PT Serif', sans-serif; 
           font-weight: 700;
           margin-bottom: 30px;
        }
        .advan_ul {
            
        }
            .advan_ul li {
                margin: 25px 0;
            }
            .advan_ul li span {
               font-size: 75px; 
               margin-right: 25px;
               display: inline-block;
               vertical-align: top;
               color: #CAB399;
            }
            .advan_ul_info {
                width: 200px;
                display: inline-block;
                vertical-align: top;
            }
                .advan_ul_info {
                    
                }
                    .advan_ul_info h4 {
                        text-transform: uppercase;
                        font: 16px 'PT Serif', sans-serif; 
                        margin-bottom: 20px;
                    }
                    .advan_ul_info p {
                        color: #B4B1A0;
                        font: 14px 'PT Serif', sans-serif; 
                    }
        .advan_ul2 {
            
        }
            .advan_ul2 li {
                font: 16px 'PT Serif', sans-serif;
                color: #B4B1A0;
                margin: 15px 0;
            }
        .advan_3wrapper {
            
        }
            .advan_img {
                width: 150px;
                margin-right: 15px;
                vertical-align: top;
            }
            .advan_info2 {
                width: 135px;
                display: inline-block;
            }
                .advan_h4 {
                    font: 16px 'PT Serif', sans-serif; 
                    text-transform: uppercase;
                    margin-bottom: 15px;
                    color: #B4B1A0;
                }
                .advan_3text {
                    font: 14px 'PT Serif', sans-serif; 
                    color: #B4B1A0;
                }
                .advan_name {
                    font: 14px 'PT Serif', sans-serif; 
                    text-transform: uppercase;
                    font-weight: 700;
                    margin-top: 30px;
                }
/* MENU PAGE MENU SECTION */
.menu {
    padding-top: 60px;
    padding-bottom: 60px;
    font-size: 0;
    background-image: url(../img/header_pattern.png);
}
    .menu_h2 {
        font: 32px 'PT Serif', sans-serif;
        font-weight: 700;
        margin-bottom: 30px;
    }
    .menu_h2text {
        font: 16px 'PT Serif', sans-serif;
        text-transform: uppercase;
        margin-bottom: 30px;
        color: #B4B1A0;
    }
    .menu_text {
        font: 14px 'PT Serif', sans-serif;
        color: #B4B1A0;
    }
    
    .menu_block {
        vertical-align: top;
        display: inline-block;
        width: 300px;
        margin-right: 50px;
        margin-top: 60px;
    }
        .menu_block_mainwrap {
            position: relative;
            height: 450px;
        }
        .menu_block_wrap_exc {
            position: absolute;
            top: 300px;
            right: 0;
            left: 0;
            bottom: 0;
            transition: 1s;
        }
        .menu_block_wrap_exc_anim {
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
        }
        .menu_block_wrap {
            position: absolute;
            top: 300px;
            right: 0;
            left: 0;
            bottom: 0;
            transition: 1s;
        }
        .menu_block_wrap_anim {
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
        }
        .menu_block_wrapper {
            position: relative;
        }
        .menu_block_par {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            background-color: rgba(0,0,0,0.0);
            text-align: center;
            line-height: 200px;
            font-size: 0;
            color: #fff;
            cursor: pointer;
            transition: 0.5s;
        }
        .menu_block_par:hover {
            background-color: rgba(0,0,0,0.6);
            font-size: 50px;
        }
    .menu_block:nth-of-type(3n) {
        margin-right: 0;
    }
        .menu_img {
            width: 300px;
        }
        .menu_name {
            font: 18px 'PT Serif', sans-serif;
            text-transform: uppercase;
            color: #B4B1A0;
            margin: 30px 0;
        }
        .menu_desc {
            font: 14px 'PT Serif', sans-serif;
            color: #B4B1A0;
        }
/* OUR PROCESS */
.process {
    font-size: 0;
    background-image: url(../img/process_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
    .process_wrap {
        background-color: rgba(0,0,0,0.5);
        padding-top: 60px;
        padding-bottom: 60px;
    }
        .process_h3 {
            font: 32px 'PT Serif', sans-serif;
            font-weight: 700;
            color: #fff;
            margin-bottom: 30px;
        }
        .process_doublewrap {
            display: inline-block;
            margin-right: 40px;
        }
        .process_doublewrap:last-of-type {
            margin-right: 0;
        }
            .process_block {
                display: inline-block;
                width: 220px;
                margin-right: 40px;
                vertical-align: top;
            }
            .process_block:last-of-type {
                margin-right: 0;
            }
                .process_step {
                    font: 16px 'PT Serif', sans-serif;
                    font-weight: 700;
                    text-transform: uppercase;
                    color: #fff;
                    margin-bottom: 45px;
                }
                .process_text {
                    font: 14px 'PT Serif', sans-serif;
                    color: #fff;
                }
/* BOOKING PAGE OUR BESTSELLERS SECTION */
.bestsell {
    padding-top: 60px;
    padding-bottom: 60px;
    font-size: 0;
    background-image: url(../img/header_pattern.png);
    background-size: cover;
}
    .bestsell_h2 {
        font: 32px 'PT Serif', sans-serif;
        font-weight: 700;
        margin-bottom: 45px;
    }
    .bestsell_block_doublewrap {
        display: inline-block;
        margin-right: 40px;
    }
    .bestsell_block_doublewrap:last-of-type {
        margin-right: 0;
    }
        .bestsell_block {
            display: inline-block;
            width: 220px;
            margin-right: 40px;
            vertical-align: top;
            position: relative;
            height: 300px;
        }
            .bestsell_block_wrap {
                position: absolute;
                top: 250px;
                bottom: 0;
                right: 0;
                left: 0;
                transition: 1s;
            }
            .bestsell_block_wrap_anim {
                position: absolute;
                top: 0;
                bottom: 0;
                right: 0;
                left: 0;
            }
        .bestsell_block:last-of-type {
            margin-right: 0;
        }
            .bestsell_img {
                width: 220px;
                margin-bottom: 30px;
            }
            .bestsell_desc {
                font: 16px 'PT Serif', sans-serif;
                text-transform: uppercase;
                margin-bottom: 10px;
            }
            .bestsell_price {
                color: #B4B1A0;
                font: 14px 'PT Serif', sans-serif;
            }
/* DELIVERY */
.delivery {
    font-size: 0;
    background-image: url(../img/header_pattern.png);
    background-repeat: no-repeat;
    background-size: cover;
}
    .delivery_wrap {
        padding-top: 60px;
        padding-bottom: 60px;
        background-color: rgba(255,255,255,0.5);
    }
        .delivery_h2 {
            font: 32px 'PT Serif', sans-serif;
            font-weight: 700;
            margin-bottom: 30px;
        }
        .delivery_img {
            width: 350px;
            margin-right: 50px;
            vertical-align: top;
        }
        .delivery_block {
            width: 600px;
            display: inline-block;
        }
            .delivery_title {
                font: 14px 'PT Serif', sans-serif;
                text-transform: uppercase;
            }
            .delivery_text01 {
                font: 14px 'PT Serif', sans-serif;
                margin: 30px 0;
            }
            .delivery_text02 {
                font: 14px 'PT Serif', sans-serif;
                margin: 30px 0;
            }
            .delivery_phone {
                font: 14px 'PT Serif', sans-serif;
                text-transform: uppercase;
                font-weight: 700;
            }
        .delivery_extratext {
            display: none;
        }
        .delivery_extraphone {
            display: none;   
        }
/* BOOKING INFORMATION */
.bookinfo {
    padding-top: 60px;
    padding-bottom: 60px;
    font-size: 0;
    background-image: url(../img/header_pattern.png);
    background-repeat: no-repeat;
    background-size: cover;
    
}
    .bookinfo_h2 {
        font: 32px 'PT Serif', sans-serif;
        font-weight: 700;
        margin-bottom: 30px;
    }
    .bookinfo_block {
        display: inline-block;
        vertical-align: top;
        width: 320px;
        margin-right: 20px;
    }
    .bookinfo_block:last-of-type {
        margin-right: 0;
    }
        .bookinfo_text {
            font: 14px 'PT Serif', sans-serif;
            margin: 20px 0;
        }
        .bookinfo_title {
            font: 14px 'PT Serif', sans-serif;
            text-transform: uppercase;
            color: #B4B1A0;
        }
        .bookinfo_ul {
            
        }
            .bookinfo_ul li {
                font: 14px 'PT Serif', sans-serif;
                color: #B4B1A0;
                margin: 15px 0;
            }
/* WHOLESALE INQUIRIES */
.wholesale {
    background-image: url(../img/wholesale_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
    .wholesale_wrap {
        padding-top: 60px;
        padding-bottom: 60px;
        background-color: rgba(0,0,0,0.5);
    }
    .wholesale_wrap .container {
        position: relative;
        height: 350px;
    }
    .wholesale_wrapper {
        position: absolute;
        top: 300px;
        right: 0;
        left: 0;
        bottom: 0;
        transition: 1s;
    }
    .wholesale_wrapper_anim {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
    }
        .wholesale_h2 {
            font: 36px 'PT Serif', sans-serif;
            font-weight: 700;
            color: #fff;
            margin-bottom: 30px;
        }
        .wholesale_title {
            font: 16px 'PT Serif', sans-serif;
            text-transform: uppercase;
            color: #fff;
        }
        .wholesale_text {
            font: 16px 'PT Serif', sans-serif;
            color: #fff;
            margin: 30px 0;
        }
        .wholesale_phone {
            font: 22px 'PT Serif', sans-serif;
            font-weight: 700;
            text-transform: uppercase;
            color: #fff;
            
        }
/* CONTACT PAGE MAP SECTION */
.map {
    padding-top: 15px;
    padding-bottom: 60px;
    background-image: url(../img/header_pattern.png);
    background-repeat: no-repeat;
    background-size: cover;
}
    .map_h2 {
       font: 36px 'PT Serif', sans-serif;
       font-weight: 700;
       margin: 30px 0; 
    }
    .map_google {
        display: block;
        width: 700px;
        height: 250px;
        margin: 0 auto;
        transition: all 1s ease-in;
    }
    .map_google_anim {
        display: block;
        width: 1000px;
        height: 400px;
        margin: 0 auto;
    }
/* CONTACT FORM */
.contact {
    background-image: url(../img/header_pattern.png);
    background-repeat: no-repeat;
    background-size: cover;
}
    .contact_wrap {
        padding-top: 60px;
        padding-bottom: 60px;
        font-size: 0;
        background-color: rgba(255,255,255,0.3);
    }
        .contact_address {
            display: inline-block;
            vertical-align: top;
            width: 250px;
            margin-right: 100px;
        }
            .contact_address_h5 {
                font: 36px 'PT Serif', sans-serif;
                font-weight: 700;
                margin-bottom: 30px;
            }
            .contact_block_h5 {
                font: 36px 'PT Serif', sans-serif;
                font-weight: 700;
                margin-bottom: 30px;
            }
            .contact_title {
                font: 16px 'PT Serif', sans-serif;
                text-transform: uppercase;
                margin-bottom: 30px;
            }
            .contact_text {
                font: 14px 'PT Serif', sans-serif;
                margin-bottom: 15px;
                
            
            }
                .contact_text span {
                    width: 85px;
                    display: inline-block;
                    
                }
        .contact_block {
            width: 650px;
            display: inline-block;
            vertical-align: top;
        }
            .contact_block_h5 {
                
            }
            .contact_form {
                
            }
                .contact_form label {
                    display: inline-block;
                    width: 200px;
                    margin-right: 25px;
                }
                .contact_form label:last-of-type {
                    margin-right: 0;
                }
                    .contact_form label input {
                        width: 100%;
                        padding: 10px 5px;
                        box-sizing: border-box;
                    }
                    .contact_form textarea {
                        width: 650px;
                        height: 300px;
                        margin-top: 30px;
                        resize: none;
                        padding: 10px 15px;
                        box-sizing: border-box;
                    }
                .contact_btn {
                    background-color: transparent;
                    border: none;
                    text-transform: uppercase;
                    font: 14px 'PT Serif', sans-serif;
                    font-weight: 700;
                    margin-top: 20px;
                    outline: none;
                    cursor: pointer;
                    transition: 0.5s;
                }
                .contact_btn:hover {
                    color: #B4B1A0;
                }
            .contact_tip {
                margin-top: 15px;
                font: 12px 'PT Serif', sans-serif;
                color: #B4B1A0;
                text-align: right;
            }
/* POPUP RELATED TO PROJECTS / ВЫСКАКИВАЮЩИЕ ОКНО НАШИ ПРОЕКТЫ */    
.popup {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.9);
    z-index: 1000;
    display: none;
}
    .popup_wrap {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: 800px;
        height: 500px;
        overflow: hidden;
    }
        .popup img {
            width: 100%;
            display: block;
        }
/* ARROW UP */
#arrow_up {
    font-size: 40px;
    color: #A9A9A9;
    position: fixed;
    bottom: 25px;
    right: 25px;
    cursor: pointer;
    display: none;
}
#arrow_up:hover {
    color: #696969;
}
/* ============ FOOTER ========= */
.footer {
    
}
    .footer_logo {
        background-color: #403E33;
        padding-top: 30px;
        padding-bottom: 30px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
        .footer_logo img {
            display: block;
            margin: 0 auto;
        }
        
        
        
        
        
/* MEDIA 1050 PX */
@media (max-width: 1050px) {
.header_nav li:before {
    width: 18px;
    height: 18px;
    top: 26px;
    right: 30px;
}
    .header_nav li a {
        margin-right: 90px;
        font: 16px 'PT Serif', sans-serif;
    }
/* ======== SLIDER SECTION ======= */
.slider {
    border-top: 5px solid #fff;
}
    .slider_wrap {
        position: static;
        border-top: none;
        width: 600px;
    }
        .slider_h1 {
            font: 48px 'PT Serif', sans-serif;
        }
        .slider_slider {
            height: 400px;
        }
            .slider_slider img {
                width: 500px;
                top: 350px;
            }
/* INFO */
.info_block_mainwrap {
    display: block;
    margin: 0 auto;
    text-align: center;
}
.info_block {
       width: 250px;
       margin-right: 5px;
       margin-left: 5px;
       height: 200px;
    }
.info_block:last-of-type {
    margin-right: 15px;
    }

    .info_block_wrap {
        top: 275px;
    }
    .info_block_anim {
        top: 50px;
    }
        .info_h2 {
            font: 30px 'PT Serif', sans-serif;
            }
        .info_p1 {
            font: 12px 'PT Serif', sans-serif;
        }
        .info_p2 {
            font: 12px 'Times New Roman', sans-serif;
        }
/* FLAVORS ================= */
.flavors_animwrap {
    top: 300px;
}
.flavors_animwrap_anim {
    top: -30px;
}
    .flavors_h3 {
        font: 28px 'PT Serif', sans-serif;
        margin-top: 30px;
    }
    .flavors_number {
        font: 36px 'PT Serif', sans-serif;
    }
    .flavors_p {
        font: 28px 'PT Serif', sans-serif;
    }
    .flavors_wrapper {
        text-align: center;
        height: 175px;
        margin-top: 0;
    }
    .flavors_miniwrapper {
        display: inline-block;
        margin-right: 25px;
    }
    .flavors_miniwrapper:last-of-type {
        margin-right: 0;
    }
        .flavors_block {
            width: 150px;
            margin-right: 25px;
        }
        .flavors_block:last-of-type {
            margin-right: 0;
        }
            .flavors_data {
                font: 24px 'PT Serif', sans-serif;
            }
            .flavors_desc {
                font: 12px 'PT Serif', sans-serif;
                margin-top: 15px;
                text-align: left;
            }
/* ABOUT PAGE */
.about .container {
    text-align: center;
}
    .about_column {
            width: 225px;
            margin-right: 25px;
            height: 800px;
        }
        .about_column_wrap {
            top: 500px;
        }
        .about_column_wrap_anim {
            top: 0;
        }
            .about_h3 {
                font: 30px 'PT Serif', sans-serif;
            }
            .about_h4 {
                font: 12px 'PT Serif', sans-serif;
            }
            .about_img {
                width: 225px;
            }
            .about_text {
                font: 11px 'PT Serif', sans-serif;
                text-align: left;
            }
            .about_number {
                font-size: 50px;
                display: inline-block;
                width: 26px;
                margin-right: 45px;
            }
            .about_number:after {
                display: none;
            }
            .about_info {
                display: inline-block;
                width: 150px;
            }
            .about_infolink {
                font: 12px 'PT Serif', sans-serif;
                text-align: left;
            }
                .about_ul2 li {
                    font: 12px 'PT Serif', sans-serif;
                    text-align: left;
                }
/* OUT TEAM */
.team .container {
    text-align: center;
}
    .team_h2 {
        font: 30px 'PT Serif', sans-serif;
    }
    .team_block_doublewrap {
            display: inline-block;
            margin-right: 30px;
        }
        .team_block_doublewrap:last-of-type {
            margin-right: 0;
        }
    .team_block {
        width: 150px;
        margin-right: 30px;
        height: 400px;
    }
    .team_block_wrap {
        top: 400px;
    }
    .team_block_wrap_anim {
        top: 0;
    }
    .team_block:last-of-type {
        margin-right: 0;
    }
        .team_img {
            width: 150px;
        }
        .team_name {
            font: 12px 'PT Serif', sans-serif;
        }
        .team_text {
            font: 11px 'PT Serif', sans-serif;
        }
/* OUR ADVANTAGES */
.advan .container {
    text-align: center;
}
    .advan_block {
        width: 225px;
        margin-right: 25px;
    }
        .advan_block_wrap_anim {
            top: 0;
        }
        .advan_h3 {
           font: 26px 'PT Serif', sans-serif; 
        }
            .advan_ul li span {
               font-size: 50px; 
            }
            .advan_ul_info {
                width: 125px;
            }
                    .advan_ul_info h4 {
                        font: 12px 'PT Serif', sans-serif; 
                    }
                    .advan_ul_info p {
                        font: 11px 'PT Serif', sans-serif; 
                    }
            .advan_ul2 li {
                font: 12px 'PT Serif', sans-serif;
            }
            .advan_img {
                width: 100px;
                margin-bottom: 15px;
            }
            .advan_info2 {
                width: 135px;
            }
                .advan_h4 {
                    font: 12px 'PT Serif', sans-serif; 
                }
                .advan_3text {
                    font: 11px 'PT Serif', sans-serif; 
                }
                .advan_name {
                    font: 11px 'PT Serif', sans-serif; 
                }
/* MENU PAGE MENU SECTION */
    .menu_h2 {
        font: 28px 'PT Serif', sans-serif;
    }
    .menu_h2text {
        font: 12px 'PT Serif', sans-serif;
    }
    .menu_text {
        font: 11px 'PT Serif', sans-serif;
    }
    .container .menu_block_mainwrap {
        text-align: center;
    }
    .menu_block {
        display: inline-block;
        width: 225px;
        margin-right: 20px;
        margin-left: 20px;
    }
    .menu_block:nth-of-type(3n) {
        margin-right: 20px;
    }
    .menu_block_par {
        line-height: 150px;
    }
        .menu_img {
            width: 225px;
        }
        .menu_name {
            font: 16px 'PT Serif', sans-serif;
        }
        .menu_desc {
            font: 13px 'PT Serif', sans-serif;
        }
/* OUR PROCESS */
.process_h3 {
    text-align: center;
}
    .process_doublewrap {
        display: block;
        margin: 15px auto;
        width: 500px;
    }
    .process_doublewrap:last-of-type {
        margin: 15px auto ;
    }
.menu_infowrap {
    width: 750px;
    margin: 0 auto;
}
/* BOOKING PAGE OUR BESTSELLERS SECTION */
.bestsell_block_doublewrap {
    margin: 0 auto;
    display: block;
    width: auto;
    text-align: center;
}
.bestsell_block_doublewrap:last-of-type {
    margin: 0 auto;
}
    .bestsell_h2 {
        text-align: center;
    }
    .bestsell_block {
        width: 350px;
        margin-right: 40px;
        height: 500px;
    }
        .bestsell_block_wrap_anim {
            top: 0;
        }
    .bestsell_block:last-of-type {
        margin-right: 0;
    }
        .bestsell_img {
            width: 350px;
        }
/* DELIVERY */
    .delivery_wrapper {
        width: 750px;
        margin: 0 auto;
    }
        .delivery_h2 {
            font: 28px 'PT Serif', sans-serif;
            text-align: left;
        }
        .delivery_img {
            width: 400px;
        }
        .delivery_block {
            width: 300px;

        }
            .delivery_title {
                font: 14px 'PT Serif', sans-serif;
                text-align: left;
            }
            .delivery_text01 {
                font: 14px 'PT Serif', sans-serif;
                margin: 30px 0;
                text-align: left;
            }
            .delivery_text02 {
                display: none;
            }
            .delivery_phone {
                display: none;
            }
            .delivery_extratext {
                font: 14px 'PT Serif', sans-serif;
                display: block;
                text-align: left;
            }
            .delivery_extraphone {
                display: block;
                font: 14px 'PT Serif', sans-serif;
                text-align: left;
            }
/* BOOKING INFORMATION */
    .bookinfo_h2 {
        font: 28px 'PT Serif', sans-serif;
    }
    .bookinfo .container {
        text-align: center;
    }
    .bookinfo_block {
        display: inline-block;
        vertical-align: top;
        width: 250px;
        margin-right: 8px;
        margin-left: 8px;
        text-align: left;
    }
    .bookinfo_block:last-of-type {
        margin-right: 8px;
    }
        .bookinfo_text {
            font: 11px 'PT Serif', sans-serif;
        }
        .bookinfo_title {
            font: 11px 'PT Serif', sans-serif;
        }
            .bookinfo_ul li {
                font: 11px 'PT Serif', sans-serif;
            }
/* WHOLESALE INQUIRIES */
    .wholesale_wrap .container {
        position: relative;
        height: 350px;
    }
    .wholesale_extrawrapper {
        width: 600px;
        margin: 0 auto;
    }
        .wholesale_h2 {
            font: 28px 'PT Serif', sans-serif;
        }
        .wholesale_title {
            font: 12px 'PT Serif', sans-serif;
        }
        .wholesale_text {
            font: 12px 'PT Serif', sans-serif;
        }
        .wholesale_phone {
            font: 18px 'PT Serif', sans-serif;
            
        }
    /* CONTACT SECTION MAP AND FORM */
.map_google {
        width: 400px;
        height: 150px;
    }
    .map_google_anim {
        width: 625px;
        height: 300px;
    }
    .map_h2 {
        text-align: center;
    }
/* CONTACT FORM */
.contact .container {
    text-align: center;
}
        .contact_address {
            width: 200px;
            margin-right: 20px;
            text-align: left;
        }
            .contact_address_h5 {
                font: 28px 'PT Serif', sans-serif;
            }
            .contact_block_h5 {
                font: 28px 'PT Serif', sans-serif;
            }
            .contact_title {
                font: 12px 'PT Serif', sans-serif;
            }
            .contact_text {
                font: 11px 'PT Serif', sans-serif;
            }
                .contact_text span {
                    width: 60px;
                    
                }
        .contact_block {
            width: 450px;
        }
                .contact_form label {
                    width: 125px;
                }
                    .contact_form textarea {
                        width: 425px;
                    }
                    .contact_form {
                        text-align: left;
                    }
/* POPUP RELATED TO PROJECTS / ВЫСКАКИВАЮЩИЕ ОКНО НАШИ ПРОЕКТЫ */    
    .popup_wrap {
        width: 600px;
        height: 400px;
    }
}
/* MEDIA 825 PX */
@media (max-width: 825px) {
    .header_nav {
        display: none;
    }
    .nav_reduce {
        display: block;
    }
.slider {
    padding-top: 30px;
}
    .slider_slider {
        height: 325px;
    }
        .slider_wrap {
                position: static;
                border-top: none;
                width: 600px;
            }
        .slider_slider img {
            top: 175px;
                    }
        .slider_img {
            display: block;
            margin-right: auto;
            margin-left: auto;
            margin-top: 30px;
            margin-bottom: 0;
            }
        .slider_h1 {
            margin-top: 0;
        }
/* INFO */
.info {
    border-top: 1px solid transparent;
    box-sizing: border-box;
}
    .info_block {
        display: block;
        width: 400px;
        margin: 0 auto;
        
        
        }
    .info_block:last-of-type {
        margin-right: auto;
        }
    
        .info_block_wrap {
            top: 200px;
            margin: 75px auto;
        }
        .info_block_anim {
            top: -100px;
        }
            .info_h2 {
                font: 30px 'PT Serif', sans-serif;
                }
            .info_p1 {
                font: 12px 'PT Serif', sans-serif;
            }
            .info_p2 {
                font: 12px 'Times New Roman', sans-serif;
            }
.flavors_h3 {
        font: 22px 'PT Serif', sans-serif;
    }
    .flavors_number {
        font: 32px 'PT Serif', sans-serif;
    }
    .flavors_p {
        font: 22px 'PT Serif', sans-serif;
    }
.flavors_wrapper {
        text-align: center;
        height: 300px;
        margin-top: 0;
    }
    .flavors_miniwrapper {
        display: block;
        text-align: center;
        margin-right: 0;
    }
    /* ABOUT PAGE */
.about .container {
    text-align: left;
}
    .about_column {
            width: 450px;
            margin: 0 auto;
            display: block;
            height: 475px;
        }
    .about_column:last-of-type {
        margin: 0 auto;
    }
        .about_column_wrap {
            top: 500px;
        }
        .about_column_wrap_anim {
            top: 0;
        }
            .about_h3 {
                font: 30px 'PT Serif', sans-serif;
            }
            .about_h4 {
                font: 12px 'PT Serif', sans-serif;
            }
            .about_img {
                width: 300px;
            }
            .about_text {
                font: 11px 'PT Serif', sans-serif;
                text-align: left;
            }
            .about_number {
                font-size: 50px;
                display: inline-block;
                width: 26px;
                margin-right: 45px;
            }
            .about_number:after {
                display: none;
            }
            .about_info {
                display: inline-block;
                width: 450px;
            }
            .about_infolink {
                font: 12px 'PT Serif', sans-serif;
                text-align: left;
            }
                .about_ul2 li {
                    font: 12px 'PT Serif', sans-serif;
                    text-align: left;
                }
/* OUT TEAM */
    .team_block_doublewrap {
        display: block;
    }
    .team_block {
        width: 225px;
        margin-right: 30px;
        height: 400px;
    }
    .team_block_wrap {
        top: 400px;
    }
    .team_block_wrap_anim {
        top: 0;
    }
    .team_block:last-of-type {
        margin-right: 0;
    }
        .team_img {
            width: 225px;
        }
        .team_name {
            font: 14px 'PT Serif', sans-serif;
        }
        .team_text {
            font: 14px 'PT Serif', sans-serif;
        }
/* OUR ADVANTAGES */
.advan {
    padding-bottom: 0;
}
.advan .container {
    text-align: center;
}
    .advan_block {
        width: 450px;
        margin: 0 auto;
        display: block;
        height: 600px;
    }
    .advan_block:last-of-type {
        margin: 0 auto;
    }
        .advan_block_wrap_anim {
            top: 0;
        }
        .advan_h3 {
           font: 32px 'PT Serif', sans-serif; 
        }
            .advan_ul li span {
               font-size: 70px; 
            }
            .advan_ul_info {
                width: 400px;
            }
            #second_advanblock {
                height: 450px;
                width: 250px;
            }
                    .advan_ul_info h4 {
                        font: 14px 'PT Serif', sans-serif; 
                    }
                    .advan_ul_info p {
                        font: 15px 'PT Serif', sans-serif; 
                    }
            .advan_ul2 li {
                font: 14px 'PT Serif', sans-serif;
            }
            .advan_img {
                width: 250px;
                margin-bottom: 15px;
            }
            .advan_info2 {
                width: 400px;
            }
                .advan_h4 {
                    font: 16px 'PT Serif', sans-serif; 
                }
                .advan_3text {
                    font: 14px 'PT Serif', sans-serif; 
                }
                .advan_name {
                    font: 14px 'PT Serif', sans-serif; 
                }
    /* MENU BLOCK in 3 section */
.menu_block_mainwrap {
    height: 300px;
}
    .menu_block {
        display: inline-block;
        width: 200px;
        margin-right: 5px;
        margin-left: 5px;
    }
    .menu_block:nth-of-type(3n) {
        margin-right: 5px;
    }
        .menu_block_par {
            width: 200px;
            line-height: 125px;
        }
            
            .menu_img {
                width: 200px;
            }
            .menu_name {
                font: 13px 'PT Serif', sans-serif;
            }
            .menu_desc {
                font: 11px 'PT Serif', sans-serif;
            }
.menu_infowrap {
    width: 550px;
    margin: 0 auto;
}
/* BOOKING PAGE OUR BESTSELLERS SECTION */
.bestsell_block_doublewrap {
    display: block;
}
    .bestsell_h2 {
        text-align: center;
    }
    .bestsell_block {
        width: 350px;
        margin: 0 auto;
        height: 500px;
        display: block;
    }
        .bestsell_block_wrap_anim {
            top: 0;
        }
    .bestsell_block:last-of-type {
        margin: 0 auto;
    }
        .bestsell_img {
            width: 350px;
        }
/* DELIVERY */
    .delivery_wrapper {
        width: 500px;
        margin: 0 auto;
    }
        .delivery_h2 {
            font: 28px 'PT Serif', sans-serif;
            text-align: left;
        }
        .delivery_img {
            width: 250px;
        }
        .delivery_block {
            width: 200px;

        }
            .delivery_title {
                font: 11px 'PT Serif', sans-serif;
            }
            .delivery_text01 {
                font: 11px 'PT Serif', sans-serif;
            }
            .delivery_extratext {
                font: 11px 'PT Serif', sans-serif;
            }
            .delivery_extraphone {
                margin-top: 15px;
            }
/* BOOKING INFORMATION */
    .bookinfo_h2 {
        font: 32px 'PT Serif', sans-serif;
    }
    .bookinfo .container {
        text-align: center;
    }
    .bookinfo_block {
        display: block;
        width: 700px;
        margin: 0 auto;
    }
    .bookinfo_block:last-of-type {
        margin: 0 auto;
    }
        .bookinfo_text {
            font: 14px 'PT Serif', sans-serif;
        }
        .bookinfo_title {
            font: 14px 'PT Serif', sans-serif;
        }
            .bookinfo_ul li {
                font: 14px 'PT Serif', sans-serif;
            }
}
/* MEDIA 700 PX */
@media (max-width: 700px) {
    /* CONTACT FORM */
.contact_wrapper {
    width: 500px;
    margin: 0 auto;
}
    .contact_address {
        display: block;
        width: auto;
        margin-right: 20px;
        text-align: left;
    }
        .contact_address_h5 {
            font: 32px 'PT Serif', sans-serif;
        }
        .contact_block_h5 {
            font: 32px 'PT Serif', sans-serif;
        }
        .contact_title {
            font: 16px 'PT Serif', sans-serif;
        }
        .contact_text {
            font: 14px 'PT Serif', sans-serif;
        }
            .contact_text span {
                width: 85px;
                
            }
    .contact_block {
        width: 500px;
        display: block;
    }
            .contact_form label {
                width: 150px;
            }
                .contact_form textarea {
                    width: 500px;
                }
                .contact_form {
                    text-align: left;
                }
                    
}
/* MEDIA 650 PX */
@media (max-width: 650px) {
    .nav_reduce_select {
        width: 400px;
    }
    .slider_h1 {
        font-size: 30px;
    }
    .slider_slider img {
        width: 375px; 
    }
    .header_logo img {
        width: 250px;
    }
    .footer_logo img {
        width: 250px;
    }
    .slider_wrap {
        width: 400px;
    }
/* MENU BLOCK 3 section */
.menu_block_mainwrap {
    display: block;
    height: 1200px;
}
    .menu_block {
            display: block;
            width: 350px;
            margin: 30px auto;
        }
        .menu_block:nth-of-type(3n) {
            margin: 0 auto;
        }
            .menu_block_par {
                width: 350px;
                line-height: 225px;
            }
                .menu_img {
                    width: 350px;
                }
                .menu_name {
                    font: 13px 'PT Serif', sans-serif;
                }
                .menu_desc {
                    font: 11px 'PT Serif', sans-serif;
                }
                .menu_infowrap {
                    width: 450px;
                    margin: 0 auto;
                }
.bookinfo_block {
        display: block;
        width: 500px;
        margin: 0 auto;
    }
.wholesale_extrawrapper {
        width: 500px;
    }
    /* CONTACT SECTION MAP AND FORM */
.map_google {
        width: 300px;
        height: 100px;
    }
    .map_google_anim {
        width: 425px;
        height: 225px;
    }
    .map_h2 {
        text-align: center;
    }
/* POPUP RELATED TO PROJECTS / ВЫСКАКИВАЮЩИЕ ОКНО НАШИ ПРОЕКТЫ */    
    .popup_wrap {
        width: 400px;
        height: 250px;
    }
}
/* MEDIA 550 PX */
@media (max-width: 550px) {
/* OUR PROCESS */
    .process_doublewrap {
        text-align: center;
        display: block;
        margin: 0 auto;
        width: 300px;
    }
    .process_doublewrap:last-of-type {
        margin: 0 auto;
    }
    .process_block {
        margin-top: 30px;
        text-align: left;
            }
            .process_block {
                margin-right: 0;
            }
/* DELIVERY */
    .delivery_wrapper {
        width: auto;
    }
        .delivery_h2 {
            font: 28px 'PT Serif', sans-serif;
            text-align: center;
        }
        .delivery_img {
            display: block;
            width: 300px;
            margin: 0 auto;
        }
        .delivery_block {
            width: auto;
        }
            .delivery_title {
                font: 14px 'PT Serif', sans-serif;
            }
            .delivery_text01 {
                font: 14px 'PT Serif', sans-serif;
            }
            .delivery_extratext {
                font: 14px 'PT Serif', sans-serif;
            }
            .delivery_extraphone {
                margin-top: 15px;
            }
.bookinfo_block {
        display: block;
        width: 400px;
        margin: 0 auto;
    }
.wholesale_extrawrapper {
        width: 400px;
    }
    /* Contact block */
.contact_wrapper {
    width: 400px;
}
    .contact_block {
            width: 400px;
            display: block;
        }
            .contact_form label {
                width: 116.5px;
            }
                .contact_form textarea {
                    width: 400px;
                }
                .contact_form {
                    text-align: left;
                }
/* OUT TEAM */
    .team_block_doublewrap {
        display: block;
        margin-right: 0;
    }
    .team_block {
        display: block;
        width: 225px;
        margin: 0 auto;
        height: 400px;
    }
    .team_block_wrap {
        top: 400px;
    }
    .team_block_wrap_anim {
        top: 0;
    }
    .team_block:last-of-type {
        margin: 0 auto;
    }
        .team_img {
            width: 225px;
        }
        .team_name {
            font: 14px 'PT Serif', sans-serif;
        }
        .team_text {
            font: 14px 'PT Serif', sans-serif;
        }
}
/* MEDIA 470 PX */
@media (max-width: 470px) {
    /* ABOUT PAGE */
.about {
    padding-bottom: 0;
}
    .about_column {
            width: 300px;
            height: 400px;
        }
        .about_column_wrap {
            top: 500px;
        }
        .about_column_wrap_anim {
            top: 0;
        }
            .about_h3 {
                font: 26px 'PT Serif', sans-serif;
            }
            .about_h4 {
                font: 9px 'PT Serif', sans-serif;
            }
            .about_img {
                width: 250px;
            }
            .about_text {
                font: 9px 'PT Serif', sans-serif;
            }
            .about_number {
                font-size: 30px;
            }
            .about_info {
                width: 300px;
            }
            .about_infolink {
                font: 9px 'PT Serif', sans-serif;
            }
                .about_ul2 li {
                    font: 9px 'PT Serif', sans-serif;
                }
/* CONTACT SECTION MAP AND FORM */
.map_google {
        width: 100px;
        height: 50px;
    }
    .map_google_anim {
        width: 275px;
        height: 225px;
    }
    .map_h2 {
        text-align: center;
    }
/* OUR ADVANTAGES */
    .advan_block {
        width: 300px;
        height: 500px;
    }
        .advan_block_wrap_anim {
            top: 0;
        }
        .advan_h3 {
           font: 26px 'PT Serif', sans-serif; 
        }
            .advan_ul li span {
               font-size: 50px; 
            }
            .advan_ul_info {
                width: 250px;
            }
            #second_advanblock {
                height: 400px;
                width: 200px;
            }
                    .advan_ul_info h4 {
                        font: 11px 'PT Serif', sans-serif; 
                    }
                    .advan_ul_info p {
                        font: 11px 'PT Serif', sans-serif; 
                    }
            .advan_ul2 li {
                font: 11px 'PT Serif', sans-serif;
            }
            .advan_img {
                width: 225px;
            }
            .advan_info2 {
                width: 300px;
            }
                .advan_h4 {
                    font: 12px 'PT Serif', sans-serif; 
                }
                .advan_3text {
                    font: 11px 'PT Serif', sans-serif; 
                }
                .advan_name {
                    font: 11px 'PT Serif', sans-serif; 
                }
}
/* MEDIA 420 PX */
@media (max-width: 420px){
    .nav_reduce_select {
        width: 200px;
    }
    .slider_h1 {
        font-size: 20px;
    }
    .slider_wrap {
        width: 300px;
    }
    .slider_slider {
        height: 325px;
    }
        .slider_slider img {
            top: 225px;
            width: 275px;
                    }
        
    .flavors_wrapper {
        height: 625px;
    }
    .flavors_h3 {
        font: 18px 'PT Serif', sans-serif;
    }
    .flavors_number {
        font: 28px 'PT Serif', sans-serif;
    }
    .flavors_p {
        font: 18px 'PT Serif', sans-serif;
    }
    .info_block_mainwrap {
        display: block;
        margin: 0 auto;
        text-align: center;
}
    .info_block {
       width: 225px;
      margin: 50px auto;
       height: 200px;
    }
.menu_infowrap {
    width: 300px;
    margin: 0 auto;
}
/* BOOKING PAGE OUR BESTSELLERS SECTION */
    .bestsell_block {
        width: 250px;
        height: 325px;
    }
        .bestsell_img {
            width: 250px;
        }
.bookinfo_block {
        display: block;
        width: 300px;
        margin: 0 auto;
    }
.bookinfo_text {
            font: 11px 'PT Serif', sans-serif;
        }
        .bookinfo_title {
            font: 11px 'PT Serif', sans-serif;
        }
            .bookinfo_ul li {
                font: 11px 'PT Serif', sans-serif;
            }
.wholesale_wrap .container {
        height: 425px;
    }
    .wholesale_extrawrapper {
            width: 300px;
        }
/* Contact block */
.contact_wrapper {
    width: 275px;
}
    .contact_block {
            width: 275px;
        }
            .contact_form label {
                width: 75px;
            }
                .contact_form textarea {
                    width: 275px;
                }
                .contact_form {
                    text-align: left;
                }
/* FLAVORS 1st section */
.flavors_miniwrapper {
        display: block;
        margin: 30px auto;
    }
    .flavors_miniwrapper:last-of-type {
        margin: 0 auto;
    }
        .flavors_block {
            width: 175px;
            margin-right: 0;
        }
        .flavors_block:last-of-type {
            margin-right: 0;
        }
.menu_block {
    width: 300px;
    }
    .menu_block_wrapper {
        
    }
    .menu_block_par {
            width: 300px;
            line-height: 200px;
            display: none;
            }
                .menu_img {
                    width: 300px;
                }
    

}